<div class="col-md-3 col-xs-6 dinner-column dinner-column-status">
    <div class="row p-25 dinner-name-row">
        <form class="form-horizontal">
            <h3 class="m-t-0">My Dinner</h3>
            <div class="form-group form-inline">
                <label class="control-label col-sm-3" for="number-of-guests">People:</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button ng-click="dinnerService.decrementNumberOfGuests()" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input ng-model="dinnerService.numberOfGuests" type="text" id="number-of-guests" disabled class="form-control input-number">
                    <span class="input-group-btn">
                        <button ng-click="dinnerService.incrementNumberOfGuests()" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="row header-row">
        <div class="col-md-1 text-left p-l-30">&nbsp;</div>
        <div class="col-md-6 text-left">Dish Name</div>
        <div class="col-md-4 text-left">Cost</div>
    </div>
    <ul class="chosen-dishes-list p-0">
        <li ng-if="dinnerService.getFullMenu().length == 0" class="row chosen-dishes-row">
            <div class="col-md-1 text-left p-l-30">0</div>
            <div class="col-md-6 text-left">Pending</div>
            <div class="col-md-3 text-left">0 SEK</div>
        </li>
        <li ng-repeat="dishInMenu in dinnerService.getFullMenu()" class="row chosen-dishes-row">
            <div class='col-md-1 text-left p-l-30'>{{dinnerService.getNumberOfGuests()}}</div>
            <div class='col-md-6 text-left'>{{dishInMenu.title}}</div>
            <div class='col-md-3 text-left'>{{dinnerService.getDishesPrice(dishInMenu)}} SEK</div>
            <div class='col-md-1 text-left p-0'>
                <button ng-click="dinnerService.removeDishFromMenu(dishInMenu.id)" type='button' class='btn btn-xs btn-default remove-dish-from-menu-button'>x</button>
            </div>
        </li>
    </ul>
    <hr>
    <div class="row total-price-row">
        <div class="col-md-5 col-md-offset-7 text-left total-price-text p-l-30">{{(dinnerService.getTotalMenuPrice()).toFixed(1)}} SEK</div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 m-t-15">
            <button id="confirm-dinner-button" class="btn btn-default f-w">Confirm dinner</button>
        </div>
    </div>
</div>



<!--People: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>


Total number of guest: {{getNumberOfGuests()}}

-->