<!-- Full Width Image Header -->
<div class="view-element" id="start-page-view">
    <header class="header-image">
        <div class="container-fluid">
            <div class="top-bar row top-bar-yellow">
                <div class="top-bar-brand col-md-3">
                    <h1>HOMELETTE</h1>
                </div>
                <div class="top-bar-brand col-md-9 text-left text-down">
                    <h4>From the best chefs in the world directly to your kitchen</h4>
                </div>
            </div>
            <div class="headline-box row">
                <div class="headline-content-box col-md-6">
                    <h1 class="text-center">A Home Dinner Service</h1>
                    <hr />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a href="#!/search" class="btn btn-default text-center mt-15">Create new dinner</a>
                </div>
            </div>
        </div>
    </header>
</div>